@font-face {
    font-family: 'Option_Land Darkk';
    src: url('../fonts/Option_Land-Darkk.woff2') format('woff2'),
        url('../fonts/Option_Land-Darkk.woff') format('woff'),
        url('../fonts/Option_Land-Darkk.svg#Option_Land-Darkk') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Option_Land';
    src: url('../fonts/Option_Land-Regular.woff2') format('woff2'),
        url('../fonts/Option_Land-Regular.woff') format('woff'),
        url('../fonts/Option_Land-Regular.svg#Option_Land-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

